:root {
    --pico-line-height: 1.35;
}

a {
    text-decoration: none;
}

footer,
hr {
    display: none;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0;
    font-size: 110%;
    font-weight: bold;
}

section {
    font-size: 70%;
    margin: 0;
    padding: 0;
}