@media print,
screen and (max-height: 578px) {
    :root {
        --pico-line-height: 1.4;
        --pico-font-size: 85%;
        --pico-spacing: 0.8rem;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }
}

@media print {
    .logotype {
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    footer,
    hr {
        display: none;
    }
}

#printBtn {
    z-index: 2;
    position: sticky;
    bottom: 2em;
    float: right;
    padding: 0.5em 2em;
    font-weight: bold;
}

#name-header {
    font-size: 1.6em;
    font-weight: bold;
    white-space: nowrap;
}