.is-fixed-top {
    z-index: 2;
    position: sticky;
    top: 0;
}

.is-fixed-bottom {
    z-index: 2;
    position: sticky;
    bottom: 0;
}

ul li {
    list-style-type: inherit;
}

.nowrap {
    white-space: nowrap;
}

.no-bullets {
    list-style-type: none;
    padding-inline-start: 1em;
}

.h1 {
    font-size: 2em
}

.h2 {
    font-size: 1.6em
}

.logotype {
    width: 15em;
    height: 3em;
    object-fit: cover;
    margin-left: -0.8em;
}

.is-spaced-between {
    display: flex;
    justify-content: space-between;
}

.is-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-md {
    font-size: 1em;
}

a>.contrast {
    color: var(--pico-contrast);
}

.is-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-position: center;
}

.hide-mobile {
    display: none;
}

.wrap-mobile {
    flex-wrap: wrap;
}

img.project-logo {
    width: 70%;
    height: auto;
    padding: 1em 0;
}

@media all and (min-width: 576px) {
    img.project-logo {
        width: 60%;
    }
}

@media all and (min-width: 768px) {
    .hide-mobile {
        display: inline;
    }

    img.project-logo {
        width: 50%;
    }
}

@media all and (min-width: 1024px) {
    img.project-logo {
        width: 40%;
    }

    .wrap-mobile {
        flex-wrap: nowrap;
    }
}

.screen,
.print {
    display: none;
}

@media screen {
    .screen {
        display: inline;
    }
}

@media print {
    .print {
        display: inline;
    }
}