/* h1 {
    font-family: monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: monospace;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: monospace;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
} */

.is-fixed-top {
    z-index: 2;
    position: sticky;
    top: 0;
}

.is-fixed-bottom {
    z-index: 2;
    position: sticky;
    bottom: 0;
}

.h1 {
    font-size: 2em
}

.h2 {
    font-size: 1.6em
}

.is-spaced-between {
    display: flex;
    justify-content: space-between;
}

.is-circle {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-position: center;
}

.hide-mobile {
    display: none;
}

.wrap-mobile {
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    .hide-mobile {
        display: inline;
    }

    .wrap-mobile {
        flex-wrap: nowrap;
    }
}